<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Media Hospital</title>
 		<link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">
 		<link type="text/css" rel="stylesheet"  th:href="@{/checkout/css/bootstrap.min.css}"/>
 		<link type="text/css" rel="stylesheet" th:href="@{/checkout/css/slick.css}"/>
 		<link type="text/css" rel="stylesheet" th:href="@{/checkout/css/slick-theme.css}"/>
 		<link type="text/css" rel="stylesheet" th:href="@{/checkout/css/nouislider.min.css}"/>
 		<link rel="stylesheet" th:href="@{/checkout/css/font-awesome.min.css}">
 		<link type="text/css" rel="stylesheet" th:href="@{/checkout/css/style.css}"/>

    </head>
	<body>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Xác Nhận Thông Tin Của Bạn</h3>
							</div>
							<div class="form-group">
								<p>Họ tên:</p>
								<input class="input" type="text" th:value="${inf.hotenbenhnhan}" readonly>
							</div>
							<div class="form-group">
								<p>Năm sinh:</p>
								<input class="input" type="text" th:value="${inf.namsinh}" readonly>
							</div>
							<div class="form-group">
								<p>Giới tính:</p>
								<input class="input" type="text" th:value="${inf.gioitinh}" readonly>
							</div>
							<div class="form-group">
								<p>Số điện thoại:</p>
								<input class="input" type="text" th:value="${inf.sdt}" readonly>
							</div>
							<div class="form-group">
								<p>Địa chỉ:</p>
								<input class="input" type="text" th:value="${inf.diachi}" readonly>
							</div>
							<div class="form-group">
								<p>Email:</p>
								<input class="input" type="text" th:value="${inf.email}" readonly>
							</div>
							<div class="form-group">
								<p>Bác sĩ:</p>
								<input class="input" type="text" th:value="${inf.hotenbacsi}" readonly>
							</div>
							<div class="form-group">
								<p>Ngày đặt:</p>
								<input class="input" type="text" th:value="${inf.day}" readonly>
							</div>
							<div class="form-group">
								<p>Lời nhắn:</p>
								<input class="input" type="text" th:value="${inf.loinhan}" readonly>
							</div>

						</div>
						<!-- /Billing Details -->
					</div>

					<!-- Order Details -->
						<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Hóa Đơn</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Dịch Vụ</strong></div>
								<div><strong>Thành Tiền</strong></div>
							</div>
							<div class="order-products">
								<div class="order-col">
									<div>Đặt lịch khám bệnh</div>
									<div th:text="${inf.mount} +' '+ 'VNĐ'"></div>
								</div>
								
							</div>
							<div class="order-col">
								<div><strong>Thành Tiền</strong></div>
								<h5><strong class="order-total" th:text="${inf.mount} +' '+ 'VNĐ'"></strong></h5>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Thanh Toán Sau Khi Khám
								</label>
								<div class="caption">
									<p>Thanh toán sau khi khám bệnh</p>
									<form th:action="@{/success}" method="get">
										<button type="submit" class="btn btn-primary">Thanh toán</button>
									</form>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Thanh toán qua Ví điện tử
								</label>
								<div class="caption">
									<form th:action="@{/submitOrder}" method="post">
										<div class="form-group">
<!--											<label for="gia">Số tiền:</label>-->
											<input type="hidden" class="form-control" id="mount" name="mount" required th:value="${inf.mount}">
										</div>
										<div class="form-group">
<!--											<label for="orderInfo">Thông tin đơn hàng:</label>-->
											<input type="hidden" class="form-control" id="orderInfo" name="orderInfo" required value="Thanh toan don hang 2923">
										</div>
										<button type="submit" class="btn btn-primary">Thanh toán</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- jQuery Plugins -->
		<script th:src="@{/checkout/js/jquery.min.js}"></script>
		<script th:src="@{/checkout/js/bootstrap.min.js}"></script>
		<script th:src="@{/checkout/js/slick.min.js}"></script>
		<script th:src="@{/checkout/js/nouislider.min.js}"></script>
		<script th:src="@{/checkout/js/jquery.zoom.min.js}"></script>
		<script th:src="@{/checkout/js/main.js}"></script>

	</body>
</html>
