<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bootstrap</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/view.css}" />
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto|Varela+Round}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
	<script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"></script>
	<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
	<script>
		$(document).ready(function () {
			// Activate tooltip
			$('[data-toggle="tooltip"]').tooltip();

			// Select/Deselect checkboxes
			var checkbox = $('table tbody input[type="checkbox"]');
			$("#selectAll").click(function () {
				if (this.checked) {
					checkbox.each(function () {
						this.checked = true;
					});
				} else {
					checkbox.each(function () {
						this.checked = false;
					});
				}
			});
			checkbox.click(function () {
				if (!this.checked) {
					$("#selectAll").prop("checked", false);
				}
			});
		});
	</script>
</head>

<body>
	<!-- Edit Modal HTML -->
	
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/updateBenhNhan}" th:object="${list}" method="post">
					<div class="modal-header">
						<h4 class="modal-title">Edit Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label>
							<input name="idp" type="text" th:field="*{idp}" readonly="true" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Họ Tên Bệnh Nhân</label>
							<input name="hotenbenhnhan" type="text" th:field="*{hotenbenhnhan}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Năm Sinh</label>
							<input name="namsinh" type="text" th:field="*{namsinh}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Giới Tính</label>
							<textarea name="gioitinh" type="text" th:field="*{gioitinh}" class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>SĐT</label>
							<textarea name="sdt" type="text" th:field="*{sdt}" class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Địa Chỉ</label>
							<textarea name="diachi" type="text" th:field="*{diachi}" class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Email</label>
							<textarea name="email" type="text" th:field="*{email}" class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Bệnh</label>
							<textarea name="benh" type="text" th:field="*{benh}" class="form-control" required></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save">
					</div>
				</form>
			</div>
		</div>
	
	
</body>

</html>